* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.hero_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.hero_nformationi {
   
}

.hero_phone_name {
    font-size: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    /* max-width: 700px; */
}

.hero_phone_name_size {
    font-size: 24px;
    border: 2px solid black;
    padding: 0 2px;
    border-radius: 8px;
    margin: 10px 0;
}

.hero_size {
    font-size: 24px;
}

.hero_phone_style {
    font-size: 20px;
    margin-top: 10px;
}

.hero_btn {
    background: black;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: 600px;
    margin-top: 60px;
    cursor: pointer;
}


/*    P R O D U C T    */

.product {
    background: rgb(248, 247, 247);
    margin-bottom: 200px;
}

.product_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}

.product_name_h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 400px;
}

.product_style_path {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.product_style_h4 {
    font-weight: 300px;
    font-size: 16px;
    margin-top: 50px;
    height: 40px;
    line-height: 30px;
    padding-bottom: 15px;
}

.product_style_h4:hover {
    color: rgb(219, 152, 37);
    font-weight: 500px;
    /* transform: scale(1.1); */
    border-bottom: 2px solid rgb(219, 152, 37);
    line-height: 30px;

}

.product_cards {
    background: white;
}

.product_section {
    padding: 30px 30px;
}

.product_section {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    gap: 220px;
}

.product_section_text {
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.product_section_text h2 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.product_span {
    color: red;
}

.product_h4 {
    font-weight: 300px !important;
    font-size: 22px;
}
¬
.product_p {
    font-size: 14px;
    border: 2px solid black;
    padding: 2px 8px;
    border-radius: 6px;
}

.product_text_h4 {
    margin-top: 20px;
}

.product_btn {
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background: black;
    padding: 5px 15px;
    border-radius: 8px;
    margin-top: 20px;
    position: absolute;
    left: 0;
    right: 0;
    width: 130px;
    opacity: 0;
    top: 230px;
    margin: 0 auto;
    transition: .3s linear;


}

.product_section:hover button {
    opacity: 100%;
    top: 140px;

}

.logo_card {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_card_child {
    width: 320px;
    height: 332px;
    background: rgb(248, 247, 247);
    /* display: flex;
    flex-direction: column;
    gap: 13px; */
    text-align: center;
    position: relative;
    border-radius: 12px;

}

.logo_card_child img {
    margin-top: 20px;
}

.logo_card_child p {
    margin: 13px 0;

}

.logo_card_child button {
    color: white;
    outline: none;
    border: none;
    background: black;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 8px;
    top: 335px;
    position: absolute;
    left: 0;
    right: 0;
    width: 130px;
    margin: 0 auto;
    opacity: 0;
    transition: .3s linear;
    overflow: hidden !important;

}

.logo_card_child:hover button {
    top: 220px;
    opacity: 100%;

}

.logo_card_child:hover p {
    opacity: 0;
}


.logo_card_child img {
    transition: .3s linear;
}

.logo_card_child:hover img{
    transform: scale(1.05);
}